@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the ip location service.</a>.</p>
    <p>Do you want to get the perfect location using an IP?</a>.</p>
    <p>You are at the right place</a>.</p>
    <p>Try this : /api/location?ipAddress=69.197.120.221</a>.</p>
</div>
